.App {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url('https://previews.123rf.com/images/cnuisin/cnuisin1809/cnuisin180900475/109629164-dog-bone-seamless-pattern-vector-dog-paw-doodle-isolated-wallpaper-background.jpg');
}